<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.microservices.sample.data.UserDao">

	<select id="selectUser" resultType="User">
	    select 
	    	*
	    from tb_user limit 10;
	</select>
	
	<select id="selectUserById" parameterType="String" resultType="User">
	    select 
	    	*
	    from tb_user
	    where user_id = #{userId}
	</select>		
	
	
	<!-- 
		사용자 정보 등록하기 
	 -->
	<insert id="insertUser" parameterType="User">
		insert into tb_user (
			user_id,
			user_nm,
			addr,
			cell_phone,
			agree_info,
			birth_dt
		) values (	
			#{userId},
			#{userNm},
			#{addr},
			#{cellPhone},
			#{agreeInfo},
			#{birthDt}
		)
	</insert>
	
	<!-- 
		사용자 정보 변경하기 
	 -->
	<update id="updateUser" parameterType="UpdateUser">
		update 
			tb_user
		set
			user_nm = #{userNm},
			addr = #{addr},
			cell_phone = #{cellPhone}
		where user_id = #{userId}
	</update>
	
	<!-- 
		사용자 정보 삭제하기 
	 -->
	<delete id="deleteUser" parameterType="String">
		delete from tb_user
		where user_id = #{userId}
	</delete>
	
	
	<!-- 
		테스트 사용자 정보 등록하기 
	 -->
	<insert id="createTestUsers" parameterType="HashMap">
		insert into tb_user (
			user_id,
			user_nm,
			addr,
			cell_phone,
			agree_info,
			birth_dt
		) values 
		<foreach collection='list' index='index' item='user' separator=','>
		(	
			#{user.userId},
			#{user.userNm},
			#{user.addr},
			#{user.cellPhone},
			#{user.agreeInfo},
			#{user.birthDt}
		)		
		</foreach>
		
		
		
	</insert>
</mapper>
